.text-light {
    color: #fff !important;
    text-shadow:
    -1px -1px 0 #16425B,  
    1px -1px 0 #16425B,
    -1px 1px 0 #16425B,
    1px 1px 0 #16425B;
  }

  .bg-dark {
    background-color: #3A7CA5 !important;
  }

  .btn-secondary {
    color: #fff;
    background-color: #16425B;
    border-color: #16425B;
  }

  .btn-secondary:hover {
    color: #fff;
    background-color: #81C3D7;
    border-color: #3A7CA5;
  }

  .btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem #16425B;
  }
  
  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #81C3D7;
    border-color: #3A7CA5;
  }

  .card {
    color: #fff;
    background-color: #2F6690;
    
 
  }