/* Primary - #1E5E83 */
/* Secondary - #81C3D7 */
/* Background - #16425B */

/* HTML */
a {
  color: #1E5E83;
}

a:hover {
  color: #81C3D7;
}

/* BOOTSTRAP */
.text-light {
  color: #fff !important;
  text-shadow:
    -1px -1px 0 #16425B,  
    1px -1px 0 #16425B,
    -1px 1px 0 #16425B,
    1px 1px 0 #16425B;
}

.bg-dark {
  /* background-color: #3A7CA5 !important; */
  background-color: #16425B !important;
}

.btn-secondary {
  color: #fff;
  background-color: #1E5E83;
  border-color: #1E5E83;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #81C3D7;
  border-color: #3A7CA5;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem #16425B;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #81C3D7;
  border-color: #3A7CA5;
}

/* MOOD4FOOD */
.card {
  border: 1px solid rgba(47, 102, 144, 0.5);
  /* box-shadow: 1px 1px 3px 1px rgba(47, 102, 144, 0.5); */
  /* background-color: rgba(129, 195, 215, 0.1); */
}

.filter-item {
  border: 1px solid rgba(47, 102, 144, 1);
  color: rgba(47, 102, 144, 1);
}

.filter-item:hover {
  background-color: rgba(47, 102, 144, 0.25);
}