/* Primary - #3AAFA9 */
/* Secondary - #2B7A78 */
/* Background - #17252A */

/* HTML */
a {
  color: #3AAFA9;
}

a:hover {
  color: #2B7A78;
}

body {
  background-color: rgba(222,242,241, 0.2) !important;
}

/* BOOTSTRAP */
.bg-dark {
  background-color: #17252A !important;
}

.btn-primary {
  background-color: #17252A;
  border: #17252A;
}

.btn-primary:hover {
  background-color: #2B7A78;

}

.btn-secondary {
  color: #fff;
  background-color: #3AAFA9;
  border-color: #3AAFA9;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #2B7A78;
  border-color: #2B7A78;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem #2B7A78;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #2B7A78;
  border-color: #2B7A78;
}

.btn-info {
  background-color: #17252A;
  border: #17252A;
}

.btn-info:hover {
  background-color: #2B7A78;
  border: #2B7A78;
}

.btn-link {
  color: #3AAFA9;
}

.btn-link:hover {
  color: #2B7A78;
}

.btn-outline-secondary {
  color: #3AAFA9;
  border-color: #3AAFA9;
}

.btn-outline-secondary:hover {
  background-color: #2B7A78;
  border-color: #2B7A78;
}

/* MOOD4FOOD */
.card {
  border: 1px solid #2B7A78;
}