.restaurant-form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5%;
  padding-top: 2.5%;
}

#restaurantForm > h2 {
  margin: 10px 0 30px;
}

.form-group-row {
  display: flex;
}

.rest__city {
  margin: 0 10px;
}

.rest__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

/*Back Arrow Button*/
.bi-arrow-left-square-fill {
  margin: 0;
  height: 30px;
  width: 30px;
  margin-left: -15px;
}

/* Restuarant page icon */
.bi-house-door-fill {
  height: 30px;
  width: 30px;
  margin: 0;
  margin-left: 5px;
  margin-right: -15px;
}

.add-title {
  color: white;
}