/* BANNER */
.banner {
    background-image: url('../images/background-dark.jpg');
    background-size: cover;
    opacity: 0.95;
    margin-bottom: 0;
}

.titleinbanner {
    font-weight: 500;
    -webkit-text-stroke: 0.3px darkgrey;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.subtitleinbanner {
    -webkit-text-stroke: 0.2px darkgrey;
    padding-left: 27%;
}

.mugiconcontainer {
    position: relative;
    text-align: center;
}

.mugicon {
    width: 1.75em;
}

.number4inmug {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > .nav-link:first-of-type {
    position: absolute;
    left: 20px;
}

.navbar > .nav-link:last-of-type {
    position: absolute;
    right: 20px;
}

.bi-arrow-left-square-fill {
    margin: 0;
    height: 30px;
    width: 30px;
    margin-left: -15px;
}

.bi-house-door-fill {
    height: 30px;
    width: 30px;
    margin: 0;
    margin-left: 5px;
    margin-right: -15px;
}

.add-title {
    font-size: 24px;
    font-weight: 500;
    color: white;
}

/* RATINGS - STAR & COST */
.ratings-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.ratings-group>input {
    display: none;
}

.ratings-group>label {
    position: relative;
    width: 1.5em;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.ratings-group--star>label {
    color: rgba(0, 0, 0, 0.2);
    /* color: #f6c02d; */
}

.ratings-group--star>label::before {
    content: url(../images/star_filled.svg);
}

.ratings-group--cost>label {
    color: #86cf5b;
}

.ratings-group--cost>label::before {
    content: url(../images/dollar_filled.svg);
}

.ratings-group>label::before {
    position: absolute;
    opacity: 0;
}

.ratings-group>label:hover:before,
.ratings-group>label:hover~label:before {
    opacity: 1;
}

.ratings-group>input:checked~label:before {
    opacity: 1;
}

.ratings-group:hover>input:checked~label:before {
    opacity: 0.7;
}



@media only screen and (max-width: 550px) {
    .titleinbanner {
        font-size: 32pt;
    }

    .subtitleinbanner {
        font-size: 12pt;
    }

    .menuCanHide {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .titleinbanner {
        font-size: 24pt;
    }

    .subtitleinbanner {
        font-size: 10pt;
    }

    .menuCanHide {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-form {
        position: static;
        width: 70%;
    }

    .navbar>.format {
        display: none;
    }

    .nav-link {
        padding-left: 3px;
        padding-right: 3px;
    }

    .navbar > .nav-link:first-of-type {
        position: static;
    }
    
    .navbar > .nav-link:last-of-type {
        position: static;
    }
}