.settingsTitle {
    text-align: center;
    margin: auto;
    margin-top: 5%;
}

.singleSize {
    display: grid;
    grid-template-columns: 25vw 25vw 10vw;
    width: 50vw;
    height: 70px;
    margin: auto;
    margin-top: 5%;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

.singleSize > h5 {
    line-height: 70px;
}

.location {
    margin-top: 15px;
    float: right;
}

.locationSumbit {
    height: inherit;
    margin-left: 10px;
    margin-top: 18px;
}

@media only screen and (max-width: 600px) {
    .singleSize {
        display: block;
        height: 120px;
    }

    .singleSize > h5 {
        text-align: center;
        margin-top: 20px;
        line-height: 10px;
    }

    .location {
        display: inline-block;
        width: 40vw;
        margin-top: 15px;
        float: left;
    }

    .locationSumbit {
        display: inline-block;
        margin-top: 18px;
    }
}

/*
other parts
*/
.board {
    margin: auto;
    width: 50vw;
    height: 70px;
    border-bottom: 2px solid grey;
}

.board > h5 {
    line-height: 70px;
}

.toggle {
    float: right;
    margin-top: 15px;
}