a:link {
    color: white;
  }

a:visited {
    color: white;
  }

a:hover {
    color: white;
}
  
a:active {
    color: white;
}

.settingsTitle {
    display: inline-block;
    margin: auto;
    text-align: center;
    color: white;
    padding-left: 0;
    margin-bottom: 5px;
}

/*Size of each section in settings*/
.singleSize {
    display: grid;
    grid-template-columns: 25vw 25vw;
    width: 50vw;
    height: 70px;
    margin: auto;
    border-top: 1px solid lightgray;
}

/*Size of each heading in sections*/
.singleSize > h5 {
    line-height: 70px;
}

/*Location*/
.settingsSection .form-control {
    margin-top: 15px;
    float: right;
}

/*Textbox*/
#btnGroupAddon {
    height: 38px;
    margin-top: 15px;
}

/*Distance*/
.btn {
    margin-top: 15px;
    height: 40px;
}

/*Search History*/
.toggle {
    float: right;
}

/*Back Arrow Button*/
.bi-arrow-left-square-fill {
    height: 30px;
    width: 30px;
    margin-left: -15px;
}

/*Profile Button*/
.bi-person-fill {
    width: inherit;
}

/*Logout Button*/
.btn-lg {
    padding-bottom: 40px;
    width: inherit;
    margin-bottom: 0;
}

/*Account Settings*/
.accountProfile {
    margin-top: -60px;
}

/*Profile Picture*/
.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-top: 0;
    margin-bottom: 20px;
    border: 5px solid darkgray;
    overflow: hidden;
}

.pic > img {
    background-image: url('../images/avatar.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*Account Text Boxes*/
.input {
    width: 50vw;
    padding-bottom: 25px;
    margin: auto;
}

/*Account translate up*/
.input:nth-child(2) {
    margin-top: -20px;
}

/*Collapsable*/
.accordion {
    margin: auto;
    width: 50vw;
    margin-bottom: 30px;
}

/*Payment Method*/
.card {
    border: 1px solid darkgray;
    width: 50vw;
    margin: auto;
}
.card-body > p {
    text-align: center;
    padding-bottom: 20px;
}

.card-body > .input {
    width: 40vw;
    padding: 10px;
}

.credit {
    margin: auto;
    margin-left: -20px;
    border: none;
}

/*Save Button*/
#submit-changes {
    display: block;
    width: 50vw;
    height: 45px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}

.logout {
    border: none;
}

/* Verification */
.verification {
    position: absolute;
    margin-top: 5em;
    margin-left: 14em;
    font-size: 12px;
    color: white;
    height: 27px;
    padding-left: 10px;
    padding-right: 3px;
    background-color: #2B7A78;
    border-radius: 10px;
}

.bi-check {
    /* position: relative; */
    margin: auto;
    margin-bottom: 5px;
}

/* Adding Restaurant */
.addRestaurantModal > h5{
    display: inline;
}

.addRest {
    float: right;
}

.logout {
    height: 50px;
}

body {
    margin-bottom: 5%;
}

/*Media Queries*/
@media only screen and (max-width: 1000px) {
    .singleSize {
        display: block;
        height: 120px;
    }
    
    .singleSize > h5 {
        text-align: center;
        margin-top: 20px;
        line-height: 20px;
    }

    .singleSize:nth-child(4) > h5 {
        padding-top: 5px;
    }
    .singleSize:nth-child(4) > h5,
    .singleSize:nth-child(6) > h5 {
        text-align: left;
        display: inline-block;
    }

    .singleSize:nth-child(5) {
        height: 70px;
    }

    #openModal{
        float: right;
    }

    .addVeri {
        float: right;
    }

    .addRestaurantModal > h5 {
        line-height: 70px;
    }

    .singleSize:nth-child(4) {
        height: 70px;
    }

    .settingsSection .btn-group {
        margin: auto;
        width: 50vw;
    }

    .history {
        height: 70px;
    }

    .logout {
        height: 50px;
    }
}

@media only screen and (max-width: 650px) {
    .singleSize {
        width: 75vw;
    }

    .singleSize:nth-child(4) {
        height: 120px;
    }
    .singleSize:nth-child(4) > h5 {
        padding-top: 20px;
        text-align: center;
        margin: auto;
        display: block;
    }

    #openModal{
        display: block;
        float: none;
        margin: auto;
        margin-top: 20px;
    }

    .addVeri {
        float: none;
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    .settingsSection .btn-group {
        margin: auto;
        width: inherit;
    }

    .accountProfile > .input {
        float: none;
        display: block;
        width: 75vw;
        margin: auto;
    }

    .card {
        float: none;
        display: block;
        width: 75vw;
        margin: auto;
        margin-left: -12.5vw;
    }

    .credit {
        margin: auto;
        margin-left: -20px;
    }

    #submit-changes {
        width: 75vw;
    }
}

/*
other parts

.board {
    margin: auto;
    width: 50vw;
    height: 70px;
    border-bottom: 1px solid grey;
}

.board > h5 {
    line-height: 70px;
}

.toggle {
    float: right;
    margin-top: 15px;
}
*/